a {
    text-decoration-line: none;	
}

a:hover {
    text-decoration-line: underline;
    cursor: hand;
}



/* PrimeFaces styling elements below this comment */

.ui-widget {
    font-size: small;
}

.ui-column-header {
    font-size: small;
}

.ui-column-title {
    font-size: small;
}

.ui-datatable {
    font-size: small;
}

.ui-datatable-header {
    font-size: small;
}

.ui-datatable-footer {
    font-size: small;
}

.ui-datatable-column {
    font-size: small;
}

.ui-sortable-column {
    font-size: small;
}

.ui-sortable-column-icon {
    font-size: small;
}

.ui-datatable-data {
    font-size: small;
}

div.ui-growl {
   left: 10;
}
